exportPattern("^[[:alpha:]]+")
importFrom("methods", "new")
importFrom("stats", "coefficients", "dnorm", "lm", "mad", "median", "predict", "quantile", "resid", "sd")
importFrom("flexmix", "flexmix","posterior","refit","parameters")
importFrom("robust","lmRob","lmRob.control")
importFrom("robustbase", "lmrob","lmrob.control","ltsReg")
importFrom("gtools","permutations")
importFrom("MASS", "ginv")
importFrom("graphics", "lines", "plot", "points")
importFrom("stats", "loess", "loess.control", "logLik", "runif", "var")
importFrom("dplyr", "data_frame", "bind_rows")
importFrom("dplyr", "%>%")
importFrom("rlang", ".data")
importFrom("stats", "as.formula", "coef", "cor", "density", "rnorm", "vcov")
importFrom("lars", "backsolvet", "updateR", "downdateR", "lars")
importFrom("scales", "alpha")
importFrom("gplots", "heatmap.2")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "abline")
importFrom("RColorBrewer","brewer.pal")
importFrom("stats", "terms")
